<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Inserção de Produto</h2>
        <div class="cabecario-clientes">

            <label for="">Código Pedido
                <input type="text" name="codigo-pedido" id="codigo-pedido">
            </label>

            <label for="">Codigo Cliente
            <input type="text" id="codigo-cliente" name="codigo-cliente" placeholder="Código Cliente"></label>

            <label for="">Descrição
                <input type="text" id="descricao" name="descricao" placeholder="Descrição Cliente"></label>

            <label for="">Endereço
                <input type="text" name="endereco" id="endereco" placeholder="Endereço">
            </label>
            
            <label for="">Cidade
                <input type="text" name="cidade" id="cidade" placeholder="Endereço">
            </label>

            <label for="">Codigo Vendedor</label>
                <input type="text" id="vendedor-cliente" name="vendedor-cliente" placeholder="Código Vendedor">
            </label>

                
        </div>
        <div class="itens-pedido">

        </div>
    </div>
</body>
</html>