{% extends "index.html" %}

{% block title %} Gerar Pedido {% endblock %}

{% block main %} 

<body>
    <div class="container">
    
      <div class="form-group row">
        <label class="col-form-label">Código Cliente</label>
        <input type="text" class="form-control"> 
        <button class="btn btn-dark">Buscar</button>
    </div>
     
  
    <!-- Incluindo o JavaScript do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  

{% endblock %}